.white-bg {
  background: white;
}

.flex {
  display: flex;
}

table {
  width: 100%;
}

.highlight {
  background: #42A948;
}

.margin50 {
  margin: 50px 0px;
}

.red {
  background: red;
  padding-left: 5px;
}

.green {
  background: green;
  padding-left: 5px;
}

.pos-abs {
  width: 100%;
}

.align-center {
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.marginT50 {
  margin-top: 50px;
}

.mat-form {
  background: #424242;
}

.backgroundPadding {
  background: #424242;
  padding: 10px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: #424242 !important;
}
