.white-bg {
  background: white;
}

.flex {
  display: flex;
}

table {
  width: 100%;
}

.highlight {
  background: #42A948;
}

.margin50 {
  margin: 50px 0px;
}

.red {
  background: red;
  padding-left: 5px;
}

.green {
  background: green;
  padding-left: 5px;
}
